// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
// @import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.login-box {
    .login-logo .circle-image {
        float: left;
        width: 60px;
        height: 60px;
        margin-top: 0px;
        margin-right: 10px;
        border-radius: 50%;
    }
}
